$font-size: 14px;
$background-color: light-dark(#ffffff, #0a0a0a);
$foreground-color: light-dark(#0a0a0a, #fafafa);
$card-color: light-dark(#ffffff, #0a0a0a);
$card-foreground-color: light-dark(#0a0a0a, #fafafa);
$popover-color: light-dark(#fafafa, #0a0a0a);
$popover-foreground-color: light-dark(#0a0a0a, #fafafa);
$primary-color: light-dark(#030213, #fafafa);
$primary-foreground-color: light-dark(#fafafa, #030213);
$secondary-color: light-dark(#ececf0, #1a1a1a);
$secondary-foreground-color: light-dark(#030213, #fafafa);
$muted-color: light-dark(#ececf0, #1a1a1a);
$muted-foreground-color: light-dark(#717182, #b0b0b0);
$accent-color: light-dark(#e9ebef, #1a1a1a);
$accent-foreground-color: light-dark(#030213, #fafafa);
$destructive-color: light-dark(#d4183d, #b91c1c);
$destructive-foreground-color: light-dark(#ffffff, #fafafa);
$border-color: light-dark(#1a1a1a, #ffffff);
$input-color: light-dark(#f3f3f5, #1a1a1a);
$input-foreground-color: light-dark(#030213, #fafafa);
$switch-background-color: light-dark(#cbced4, #1a1a1a);
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$radius: 4px;
$sidebar-color: light-dark(#030213, #fafafa);
$sidebar-foreground-color: light-dark(#fafafa, #030213);
$sidebar-primary-color: light-dark(#030213, #fafafa);
$sidebar-primary-foreground-color: light-dark(#fafafa, #030213);
$sidebar-accent-color: light-dark(#030213, #fafafa);
$sidebar-accent-foreground-color: light-dark(#fafafa, #030213);
$sidebar-border-color: light-dark(#1a1a1a, #ffffff);
$sidebar-ring-color: light-dark(#1a1a1a, #ffffff);

